*
{background-color:black; color:whitesmoke; }

h1{text-decoration: underline; text-align:center;}

h2{text-decoration: underline;}


div {border-top: 6px solid yellow; border-left: 6px solid yellowgreen; border-bottom: 6px solid yellowgreen; border-right: 6px solid yellowgreen; } 
